h1 {
  font-size: 28px;
  font-weight: bold;
  color: yellow;
  margin: 18px 0;
  text-align: center;
}

html,form, body, .lernen,.footer, h1, .index{
  text-align: center; 
}
 
.sonne
 {
padding-top:50px;
padding-left:50px;
font-size: 16px;
font-weight: bold;
text-align: center;
 }

.lernen
{
float: left;
width: 220px;
padding: 3px;
padding-top:50px;
padding-left:100px;
font-size: 16px;
font-weight: bold;
text-align: center; 
}

.index
{
	padding-top:100px;
	padding-left:200px;  
}
.footer{
  clear:left;
  margin-top:1em;
  text-align:center;
  padding:10px; 
}


.first_part{
 
}
 
