// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 28px;
  font-weight: bold;
  color: red;
  margin: 18px 0;
  text-align: center; 
}

html,form, body, .lernen,.footer, h1, .index{
  text-align: center; 
}
 
.left
{
//float: left;
//width: 45%;
//padding: 200px;
//font-size: 0.7em;
padding-top:20px;
padding-left:10px;
//font-size: 16px;
//font-weight: bold;
//text-align: center; 
}


.right
{
//float: right;
//width: 45%;
//padding: 200px;
//font-size: 0.7em;
padding-top:20px;
padding-left:55%;
//font-size: 16px;
//font-weight: bold;
//text-align: center; 
}

.Header{
  text-align:center; 
  width:100%; 
  font-size: 28px; 
  padding-top:15px; 
  font-weight: bold; 
  color: red;
 
}
 
